<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>

        <link rel="stylesheet" href="/assets/style/index.css">

</head>

<body>
    <div class="background-image">
        <img src="/assets/images/bg-image.svg" alt="" />
    </div>

    <%- include('partials/navbar') %>

        <section class="w-100 p-4 text-center pb-4">
            <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init="" class="form-outline" data-mdb-input-initialized="true">
                            <input type="text" id="form6Example1" class="form-control">
                            <label class="form-label" for="form6Example1" style="margin-left: 0px;">First name</label>
                            <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px;"></div>
                                <div class="form-notch-middle" style="width: 68.8px;"></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-mdb-input-init="" class="form-outline" data-mdb-input-initialized="true">
                            <input type="text" id="form6Example2" class="form-control">
                            <label class="form-label" for="form6Example2" style="margin-left: 0px;">Last name</label>
                            <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px;"></div>
                                <div class="form-notch-middle" style="width: 68px;"></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Text input -->
                <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                    <input type="text" id="form6Example3" class="form-control">
                    <label class="form-label" for="form6Example3" style="margin-left: 0px;">Company name</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 98.4px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Text input -->
                <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                    <input type="text" id="form6Example4" class="form-control">
                    <label class="form-label" for="form6Example4" style="margin-left: 0px;">Address</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 55.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Email input -->
                <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                    <input type="email" id="form6Example5" class="form-control">
                    <label class="form-label" for="form6Example5" style="margin-left: 0px;">Email</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 40px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Number input -->
                <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                    <input type="number" id="form6Example6" class="form-control">
                    <label class="form-label" for="form6Example6" style="margin-left: 0px;">Phone</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 44.8px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Message input -->
                <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                    <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                    <label class="form-label" for="form6Example7" style="margin-left: 0px;">Additional
                        information</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 131.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked="">
                    <label class="form-check-label" for="form6Example8"> Create an account? </label>
                </div>

                <!-- Submit button -->
                <button data-mdb-ripple-init="" type="button" class="btn btn-primary btn-block mb-4">Place
                    order</button>
            </form>
        </section>

        <%- include('./partials/script') %>
</body>

</html>
