<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>

        <link rel="stylesheet" href="/assets/style/index.css">

</head>

<body>
    <div class="background-image">
        <img src="/assets/images/bg-image.svg" alt="" />
    </div>

    <%- include('partials/navbar') %>
        <section class="sc-banner">
            <div class="container">
                <div class="body-content">
                    <div class="content-wrapper">
                        <div class="headline">
                            <h4 class="heading">Learn programming by building projects</h4>
                        </div>
                        <div class="discription">
                            <p>
                                Improve your programming skills by working on real-world projects.
                                Join our free community to discuss projects, review code, and learn
                                from peers and mentors.
                            </p>
                            <div class="join-button">Join Group</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sc-course">
            <div class="container">
                <h2 class="heading2 mb-5">Courses We Provide</h1>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4 mb-xl-0">
                            <div class="course">
                                <div class="course-preview">
                                    <h6>Course</h6>
                                    <h2>JavaScript Fundamentals</h2>
                                    <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
                                </div>
                                <div class="course-info">
                                    <div class="progress-container">
                                        <div class="progress"></div>
                                        <span class="progress-text">
                                            6/9 Challenges
                                        </span>
                                    </div>
                                    <h6>Chapter 4</h6>
                                    <h2>Callbacks & Closures</h2>
                                    <button class="btn">Continue</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4 mb-xl-0">
                            <div class="course">
                                <div class="course-preview">
                                    <h6>Course</h6>
                                    <h2>JavaScript Fundamentals</h2>
                                    <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
                                </div>
                                <div class="course-info">
                                    <div class="progress-container">
                                        <div class="progress"></div>
                                        <span class="progress-text">
                                            6/9 Challenges
                                        </span>
                                    </div>
                                    <h6>Chapter 4</h6>
                                    <h2>Callbacks & Closures</h2>
                                    <button class="btn">Continue</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4 mb-xl-0">
                            <div class="course">
                                <div class="course-preview">
                                    <h6>Course</h6>
                                    <h2>JavaScript Fundamentals</h2>
                                    <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
                                </div>
                                <div class="course-info">
                                    <div class="progress-container">
                                        <div class="progress"></div>
                                        <span class="progress-text">
                                            6/9 Challenges
                                        </span>
                                    </div>
                                    <h6>Chapter 4</h6>
                                    <h2>Callbacks & Closures</h2>
                                    <button class="btn">Continue</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4 mb-xl-0">
                            <div class="course">
                                <div class="course-preview">
                                    <h6>Course</h6>
                                    <h2>JavaScript Fundamentals</h2>
                                    <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
                                </div>
                                <div class="course-info">
                                    <div class="progress-container">
                                        <div class="progress"></div>
                                        <span class="progress-text">
                                            6/9 Challenges
                                        </span>
                                    </div>
                                    <h6>Chapter 4</h6>
                                    <h2>Callbacks & Closures</h2>
                                    <button class="btn">Continue</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4 mb-xl-0">
                            <div class="course">
                                <div class="course-preview">
                                    <h6>Course</h6>
                                    <h2>JavaScript Fundamentals</h2>
                                    <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
                                </div>
                                <div class="course-info">
                                    <div class="progress-container">
                                        <div class="progress"></div>
                                        <span class="progress-text">
                                            6/9 Challenges
                                        </span>
                                    </div>
                                    <h6>Chapter 4</h6>
                                    <h2>Callbacks & Closures</h2>
                                    <button class="btn">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>

        <%- include('./partials/script') %>
</body>

</html>
